.unlock-container {
  display: flex;
  justify-content: center;
  width: 50%;
}
#cardImg {
  max-width: 50%;
  min-height: 200px;
  min-width: 200px;
  align-content: center;
  max-height: 100%;
  border-radius: 6px;
}
.col-4 {
  flex-direction: row;
  display: flex;
}
.btnCreate {
  width: 100%;
}

@media only screen {
  .col-4 {
    flex-direction: column;
  }
}

.row {
  width: 100%;
  background-color: white;
  justify-content: center;
  align-content: center;
  padding: 30px;
  border-radius: 20px;
  box-shadow: white;
}
.text {
  width: 100%;
  justify-content: center;
  align-content: center;
}
