#imgLogo {
  height: 3rem;
  margin-top: 10px;
  margin-left: 10px;
}
.scratch_container {
  position: relative;
  margin: 0 auto;
  max-width: 1024px;
}

.scratch_viewport {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  z-index: 0;
}

.scratch_picture-under {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: -1;
}

.scratch_container canvas {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
}
body {
  background: #000;
  color: white;
  font-family: Arial;
  text-align: center;
  width: auto;
  height: auto;
  overflow: auto;
}
